<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sisap</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Password1</property>
    <mapping resource="com/entidad/Notificacion.hbm.xml"/>
    <mapping resource="com/entidad/Plantel.hbm.xml"/>
    <mapping resource="com/entidad/Actividad.hbm.xml"/>
    <mapping resource="com/entidad/Area.hbm.xml"/>
    <mapping resource="com/entidad/Protocolo.hbm.xml"/>
    <mapping resource="com/entidad/Denuncia.hbm.xml"/>
    <mapping resource="com/entidad/Prioridad.hbm.xml"/>
    <mapping resource="com/entidad/Usuario.hbm.xml"/>
    <mapping resource="com/entidad/Tipo.hbm.xml"/>
    <mapping resource="com/entidad/Recurso.hbm.xml"/>
    <mapping resource="com/entidad/Archivo.hbm.xml"/>
    <mapping resource="com/entidad/Clave.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
