<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sisap?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping class="com.entity.ClaveId"/>
    <mapping class="com.entity.Usuario"/>
    <mapping class="com.entity.Tipo"/>
    <mapping class="com.entity.NotificacionId"/>
    <mapping class="com.entity.PlantelId"/>
    <mapping class="com.entity.RecursoId"/>
    <mapping class="com.entity.Clave"/>
    <mapping class="com.entity.Protocolo"/>
    <mapping class="com.entity.UsuarioId"/>
    <mapping class="com.entity.Notificacion"/>
    <mapping class="com.entity.Denuncia"/>
    <mapping class="com.entity.Recurso"/>
    <mapping class="com.entity.Plantel"/>
    <mapping class="com.entity.Prioridad"/>
    <mapping class="com.entity.Actividad"/>
    <mapping class="com.entity.DenunciaId"/>
    <mapping class="com.entity.Area"/>
    <mapping class="com.entity.ActividadId"/>
    <mapping class="com.entity.Archivo"/>
  </session-factory>
</hibernate-configuration>
